body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#content h1 {
  font-size: 48px;
  color: white;
  position: relative;
  z-index: 1;
}

#buttons {
  margin-top: 20px;
}

#buttons a {
  margin: 0 10px;
}

#buttons img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}

#buttons img:hover {
  transform: scale(1.1);
}

#musicControls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

#bottomImage {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
}
